<br>
<h1>Login</h1>

<% if params["failed_to_find_user"] %>
    <h4 class="alert alert-danger">Password incorrect.</h4>
<% end %>

<%=form_tag login_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Login", :class => "btn btn-primary" %>
<% end %><br>

<h2> <%= link_to 'Dont have an account? Sign up!', new_user_path %> </h2>