<h1>Hey there <%= @user.username %></h1>
<h3>Your account balance is: $<%= @user.balance %>0</h3>
<h5>Replenish balance
<%= form_with url: update_balance_path(@user), method: 'get' do %>
<%= number_field_tag :amount %>
<%= submit_tag("Add Funds") %>
<% end %>
</h5>
<h3>Your ducks on the market:</h3>
<ul>
<% @user.items.each do |item| %>
    <li><%= link_to item.name, item_path(item.id) %></li>
<% end %>
</ul>
<h3><%= link_to "Add Item", new_item_path %></h3>
<h3><%= link_to "Edit yourself", edit_user_path(@user.id) %></h3>
<h3><%= link_to "End it all please", user_path(@user.id), method: 'delete'%></h3>
