<nav class="navbar-brand">
    <%= link_to 'Home', home_path %> |
    <%= link_to "Login", login_form_path %> | 
    <%= link_to "Items", items_path %>
    <% if logged_in? %>
        |
        <%= link_to "Profile", user_path(current_user.id) %> |
        <%= link_to "Logout", logout_path, method: 'post' %> | 
        <%= link_to "New Item", new_item_path %> |
        <%= link_to "Your Bids", bids_path %> 
    <% end %>
</nav> 