<h1><%=@item.name%></h1>
<img src=<%=@item.image%> alt="Duck image">
<h3><%=@item.description%></h3>
<%= form_for @tag do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %>
    <%=f.submit "Add Tag"%>
<% end %>
