<% if @item.errors.any? %>
    <ul>
        <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @item do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.hidden_field :seller_id, value: current_user.id %>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :asking_price %><br>
    <%= f.number_field :asking_price %><br>
    <%= f.label "Deadline for item's sale"%><br>
    <%= f.date_field :end_date %><br>
    <%= f.submit "Add Item"%>
<% end %>