
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src=<%= @item.image.present? ? @item.image : Item.default_pic %> class="card-img" style="height: 200px; width: 200px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @item.name %></h5>
        <p class="card-text"><%= @item.description %></p>
        <% if @item.bids.any? %>
        <p class="card-text">Current highest bid: <%= number_to_currency @item.current_highest_bid.bid_amount %> <br><small>Starting bid: <%= number_to_currency @item.asking_price %></small></p>
<% else %>
<p class="card-text">No bids :( <br><small>Starting bid: <%= number_to_currency @item.asking_price %></small></p>
<% end %>
        <p class="card-text"><small class="text-muted">End date: <%= @item.end_date %></small></p>
      </div>
    </div>
  </div>
</div>

<h3>
    <% if @item.seller_id == current_user.id  %>
        <%= link_to "Edit your item for sale.", edit_item_path(@item) %>
        <%= link_to "Delete your item for sale.", item_path(@item), method: 'delete' %>
        <%= link_to "Not enough interest? Add some tags!", new_tag_path(item_id: @item.id) %>
        <% elsif @item.auction_ended? %>
        <br><br><span class="alert alert-danger">This item is no longer for sale so you can duck off.</span>
        <% else %>
        <%= link_to "Place Bid", new_bid_path(item_id: @item.id) %>
        <%= link_to "Leave Comment", new_comment_path(item_id: @item.id )%>
    <% end %> 
</h3>

<% if @item.comments.any? %>
    <h2>Comments</h2>
    <div><% @item.comments.each do |comment| %>
        <%=comment.message%>
        by: <%=link_to User.find(comment.user_id).username, user_path(User.find(comment.user_id))%></div>
    <% end %>
<% end %>

<% if @item.tags.any? %>
    <h2>Tags</h2>
    <% @item.tags.each do |tag| %>
        <%=link_to tag.name, items_path(tag_sort: tag.name)%>
    <% end %>
<% end %>

<% if @item.seller_id == session[:user_id] && @item.bids.any? %>
    <h3>Bids on your duck:</h3>
    <ul>
    <% @item.sorted_bids.each do |bid| %>
        <li><%= link_to "#{User.find(bid.user_id).username}: #{number_to_currency bid.bid_amount}" %></li>
    <% end %>
    </ul>
<% end %>
