<h1>Item Details</h1>

<h2>Name: <%= @item.name %></h2>
<h2>Description: <%= @item.description %></h2>
<h2>Price: $<%= @item.asking_price %>0</h2>
<h2>Auction Closes: <%= @item.end_date %></h2>
<h3>
    <% if @item.seller_id == current_user.id  %>
        <%= button_tag "MY ITEM"%>
    <% else %>
        <%= link_to "Place Bid", new_bid_path(item_id: @item.id) %>
    <% end %> 
</h3>

<% if @item.tags.any? %>
    <h2>Tags</h2>
    <% @item.tags.each do |tag| %>
        <%= tag.name %>
    <% end %>
<% end %>
