    <%= image_tag @item.image.present? ? @item.image : Item.default_pic,
    style: 'height: 200px;width: 200px;' %>
<h2>Name: <%= @item.name %></h2>
<h2>Description: <%= @item.description %></h2>
<h2>Asking Price: $<%= @item.asking_price %>0</h2>
<h2>Current Highest Bid: $<%= @item.current_highest_bid %></h2>
<h2>Auction Closes: <%= @item.end_date %></h2><br>
<h3>
    <% if @item.seller_id == current_user.id  %>
        <%= link_to "Edit your item for sale.", edit_item_path(@item) %>
        <%= link_to "Delete your item for sale.", item_path(@item), method: 'delete' %>
        <%= link_to "Not enough interest? Add some tags!", new_tag_path(item_id: @item.id) %>
    <% elsif @item.end_date < Time.now %>
        <img src= <%= Item.no_longer_for_sale %> style="width:200px;height:200px;"><br><br><span class="alert alert-danger">This item is no longer for sale so you can duck off.</span>
    <% else %>
        <%= link_to "Place Bid", new_bid_path(item_id: @item.id) %>
        <%= link_to "Leave Comment", new_comment_path(item_id: @item.id )%>
    <% end %> 
</h3>

<% if @item.comments.any? %>
    <h2>Comments</h2>
    <div><% @item.comments.each do |comment| %>
        <%=comment.message%>
        by: <%=link_to User.find(comment.user_id).username, user_path(User.find(comment.user_id))%></div>
    <% end %>
<% end %>

<% if @item.tags.any? %>
    <h2>Tags</h2>
    <% @item.tags.each do |tag| %>
        <%=link_to tag.name, items_path(tag_sort: tag.name)%>
    <% end %>
<% end %>

<% if @item.seller_id == session[:user_id] && @item.bids.any? %>
    <h3>Bids on your duck:</h3>
    <ul>
    <% @item.sorted_bids.each do |bid| %>
        <li><%= link_to "#{User.find(bid.user_id).username}: #{bid.bid_amount}" %></li>
    <% end %>
    </ul>
<% end %>
