<!DOCTYPE html>
<html>
  <head>
    <title>Duckat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="container-xl">
  <div class="jumbotron jumbotron-xl">
  <div class="container-fluid">
    <h1 class="display-4"><img src="https://img.flaticon.com/icons/png/512/1521/1521260.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" style="width: 150px; height: 100px;" >Duckat</h1>
  </div>
</div>

    <%= render partial: 'shared/nav' %>
    <%= yield %>
  </div>
  </body>
</html>

